<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuqirong.koku">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.AuthorizeActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.PublishActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustResize"
            android:theme="@style/AppTheme.Transparent">
        </activity>
        <activity
            android:name=".activity.WeiboDetailsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Transparent">
        </activity>
        <activity
            android:name=".activity.UserDetailsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Transparent">
        </activity>
        <activity
            android:name=".activity.SearchUserActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Transparent">
        </activity>
        <activity
            android:name=".activity.NearlyDynamicActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Transparent">
        </activity>
        <activity
            android:name=".activity.PublicWeiboActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Transparent">
        </activity>
        <activity
            android:name=".activity.MyFavoriteActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Transparent">
        </activity>
        <activity
            android:name=".activity.DraftActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Transparent">
        </activity>
        <activity
            android:name=".activity.WebViewActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Transparent">
        </activity>
        <activity
            android:name=".activity.RemindActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Transparent">
        </activity>
        <activity
            android:name=".activity.ImageBrowserActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Transparent">
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Transparent">
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Transparent">
        </activity>

        <activity android:name=".activity.GridImageActivity"/>
        <activity android:name=".activity.ClipImageActivity"/>

        <service android:name=".service.CheckUnreadService" />

        <receiver android:name=".receiver.RefreshWeiboTimelineReceiver"/>

    </application>

</manifest>
