<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuqirong.koku">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <activity
            android:name=".module.ui.activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.ui.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/DrawerLayoutTheme"></activity>
        <activity
            android:name=".module.ui.activity.AuthorizeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".module.ui.activity.PublishActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustResize"></activity>
        <activity
            android:name=".module.ui.activity.WeiboDetailsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Transparent"></activity>
        <activity
            android:name=".module.ui.activity.UserDetailsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Transparent"></activity>
        <activity
            android:name=".module.ui.activity.SearchUserActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Transparent"></activity>
        <activity
            android:name=".module.ui.activity.NearlyDynamicActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Transparent"></activity>
        <activity
            android:name=".module.ui.activity.PublicWeiboActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Transparent"></activity>
        <activity
            android:name=".module.ui.activity.MyFavoriteActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Transparent"></activity>
        <activity
            android:name=".module.ui.activity.DraftActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Transparent"></activity>
        <activity
            android:name=".module.ui.activity.WebViewActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Transparent"></activity>
        <activity
            android:name=".module.ui.activity.RemindActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Transparent"></activity>
        <activity
            android:name=".module.ui.activity.ImageBrowserActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Transparent"></activity>
        <activity
            android:name=".module.ui.activity.SettingsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Transparent"></activity>
        <activity
            android:name=".module.ui.activity.AboutActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Transparent"></activity>

        <activity android:name=".module.ui.activity.GridImageActivity" />
        <activity android:name=".module.ui.activity.ClipImageActivity" />

        <service android:name=".service.CheckUnreadService" />

        <receiver android:name=".receiver.RefreshWeiboTimelineReceiver" />

    </application>

</manifest>
